<div class="form-container">
  <h2>設定</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="field">
      <%= f.label :nickname, "登録名" %>
      <%= f.text_field :nickname, autofocus: true %>
    </div>

    <% if resource.provider.blank? %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "新しいパスワード" %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation,"新しいパスワード(再)" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit "更新", class: "btn-primary-update" %>
      <%= link_to '更新しないで戻る', root_path, class: "btn-secondary-home" %>
    </div>
  <% end %>
  <!--
  <% if resource && resource.has_password? && resource.provider != 'google_oauth2' %>
    <%= link_to "パスワードを忘れた方はこちら", new_user_password_path, class: "btn btn-link" %>
  <% end %>-->

  <%= link_to "アカウント削除", delete_account_path, method: :get, class: "btn btn-danger" %>

</div>

