<div class="header">
  <%= link_to image_tag('account.svg', class: 'icon-account-circle', alt: ''), edit_user_registration_path %>
</div>
<div class="setting-content">
  <h2>設定</h2>
  <!--
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="field">
      <%= f.label :nickname, "ニックネーム" %><br />
      <%= f.text_field :nickname, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %> <i>(変更する場合のみ)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(現在のパスワード)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "更新", class: "btn btn-update" %>
    </div>
  <% end %>-->
  <div class="accout-content">
    <div class="re_pass">
      <p>パスワード再設定</p>
      <%= button_to "メールを送る", new_user_password_path, method: :get, class: "btn btn-primary" %>
    </div>

    <div class="delet-accout">
      <p>退会</p>
      <%= button_to "アカウント削除", delete_account_path, method: :get, class: "btn btn-account-danger" %>
    </div>

  </div>
  <%= link_to 'ホームに戻る', root_path, class: "btn btn-secondary home-link" %>

</div>
