<div class="qr-code-details">
  <h2 class="title">お手伝いをお願いします</h2>

  <% if @qr_code.user.care_content.present? %>
    <p class="info">呼んでほしい名前: <%= @qr_code.user.care_content.preferred_name %></p>

    <% if @qr_code.user.care_content.emergency_contacts.present? %>
      <p class="info">緊急時の連絡先:</p>
      <% @qr_code.user.care_content.emergency_contacts.each do |contact| %>
        <p class="info">
          <strong>電話番号:</strong> <%= link_to contact.phone_number, "tel:#{contact.phone_number}" %><br>
          <strong>関係性:</strong> <%= contact.relationship %>
        </p>
      <% end %>
    <% end %>
    
    <p class="info">緊急時にお願いしたいこと:<br> <%= @qr_code.user.care_content.custom_message %></p>
    <p class="info">あなたへのメッセージ:<br><%= @qr_code.user.care_content.message %></p>
  <% else %>
    <p class="no-info">情報が登録されていません。</p>
  <% end %>

  <!-- <%= link_to "ホーム", root_path, class: "btn btn-home" %> -->
</div>
