<h1>QRコード表示</h1>

<p>以下のQRコードを相手に見せてください。</p>

<%= image_tag qr_code_path(@qr_code, format: :png) %>

<% if @care_content.present? %>
  <h2>ケア内容</h2>
  <p><strong>呼ばれ方:</strong> <%= @care_content.preferred_name %></p>
  <p><strong>緊急連絡先:</strong> <%= @care_content.phone_number %></p>
  <p><strong>伝えたいこと:</strong> <%= @care_content.custom_message %></p>
  <p><strong>メッセージ:</strong> <%= @care_content.message %></p>
<% else %>
  <p>ケア内容が登録されていません。</p>
<% end %>

<div class="footer">
  <%= link_to 'ホーム', root_path, class: "btn btn-primary" %>
  <%= link_to 'ケア内容を編集する', edit_care_content_path(current_user.care_content), class: "btn btn-primary" %>
  <%= link_to 'アカウント編集', edit_user_registration_path, class: "btn btn-primary" %>
</div>
