
    <div class="header">
      <%= link_to image_tag('profile-circle.svg', class: 'icon-account-circle', alt: ''), edit_user_registration_path %>
    </div>
    <div class="content">
      <div class="qr-code">
        <%= image_tag qr_code_path(@qr_code, format: :png) %>
      </div>
      <div class="details">
        <% if @care_content.present? %>
          <p>呼ばれ方: <%= @care_content.preferred_name %></p>
          <p>緊急連絡先: <%= @care_content.phone_number %></p>
          <p>伝えたいこと: <%= @care_content.custom_message %></p>
          <p>メッセージ: <%= @care_content.message %></p>
        <% else %>
          <p>ケア内容が登録されていません。</p>
        <% end %>
      </div>
    </div>
    <div class="footer">
      <%= link_to 'ホーム', root_path, class: "btn btn-primary" %>
      <%= link_to "QRコードを表示する", qr_code_path(@qr_code), class: "btn btn-secondary" %>
      <%= link_to '編集する', edit_care_content_path(@care_content), class: "btn btn-primary" %>
    </div>

