<header>
  <nav>
  </nav>
</header>

<div class="content">
  <p class="want_message"><strong>私が手伝ってほしいこと</strong></p>

  <div class="qr-code-wrapper">
    <div class="qr-code-container">
      <% if @qr_code.present? %>
        <%= image_tag qr_code_path(@qr_code, format: :png), class: 'qr-code' %>
      <% else %>
        <p>QRコードが登録されていません。</p>
      <% end %>
      <span>読み込んでください</span>
    </div>
    <div class="qr-code-message">
      <p>➀左の<span class="highlight">QRコード</span>を読み込む</p>
      <p>➁お手伝いをお願いします</p>
    </div>
  </div>
  <div class="thank-you-message">
    <p><strong>お気遣いいただきありがとうございます</strong></p>
  </div>
</div>

<div class="details">
  <div class="top-message">
    <p>↑の部分をお相手に見せてください</p>
  </div>
  <% if @care_content.present? %>
    <div class="text">
      <p class="disclosure-info"><strong>QRコードで開示している情報</strong></p>
      <div class="info-items">
        <% if @care_content.preferred_name.present? %>
          <p class="highlighted">呼ばれ方</p>
        <% end %>
        <% if @care_content.phone_number.present? %>
          <p class="highlighted">緊急連絡先</p>
        <% end %>
        <% if @care_content.custom_message.present? %>
          <p class="highlighted">伝えたいこと</p>
        <% end %>
      </div> 
    </div>
  <% else %>
    <p>ケア内容が登録されていません。</p>
  <% end %>
</div>

<div class="footer">
  <%= link_to edit_user_registration_path, class: "btn btn-primary icon-link" do %>
    <img src="<%= asset_path('account.svg') %>" alt="Profile Icon" class="icon">
    <span>アカウント設定</span>
  <% end %>
  <%= link_to edit_care_content_path(@care_content), class: "btn btn-primary icon-link" do %>
    <img src="<%= asset_path('pen.svg') %>" alt="Edit Icon" class="icon">
    <span>ケア情報を編集する</span>
  <% end %>
</div>

