<h1>ホーム画面</h1>
<%= link_to 'アカウント編集', edit_user_registration_path, class: "btn btn-primary" %>


<% if @qr_code.present? %>
  <!--<p>QRコード:</p>-->
  <%= image_tag qr_code_path(@qr_code, format: :png) %>
<% else %>
  <p>QRコードが登録されていません。</p>
<% end %>

<% if @care_content.present? %>
  <p>呼ばれ方: <%= @care_content.preferred_name %></p>
  <p>緊急連絡先: <%= @care_content.phone_number %></p>
  <p>伝えたいこと: <%= @care_content.custom_message %></p>
  <p>メッセージ: <%= @care_content.message %></p>

  <!--<%= link_to "ケア内容を編集する", edit_care_content_path(@care_content), class: "btn btn-primary" %>-->
<% else %>
  <p>ケア内容が登録されていません。</p>
  <<%= link_to "ケア内容を登録する", new_care_content_path, class: "btn btn-primary" %>
<% end %>



<div class="footer">
  <%= link_to 'ホーム', root_path, class: "btn btn-primary" %>
  <%= link_to "QRコードを表示する", qr_code_path(@qr_code), class: "btn btn-secondary" %>
  <%= link_to 'ケア内容を編集する', edit_care_content_path(@care_content), class: "btn btn-primary" %>
</div>
