<div class="form-container">
  <h2>私が伝えたいこと</h2>

  <%= form_with(model: @care_content, local: true) do |f| %>
    <div class="field">
      <%= f.label :preferred_name, "呼ばれ方" %>
      <%= f.text_field :preferred_name, placeholder: "例：たろう" %>
    </div>

    <div class="field">
      <%= f.label :phone_number, "緊急連絡先" %>
      <%= f.text_field :phone_number, placeholder: "例：000‐0000‐0000"  %>
    </div>

    <div class="field">
      <%= f.label :custom_message, "伝えたいこと" %>
      <%= f.text_area :custom_message, placeholder: "例：機械の操作が苦手です。話すときは右側から話しかけてください。"  %>
    </div>

    <div class="field">
      <%= f.label :message, "メッセージ" %>
      <%= f.text_area :message, placeholder: "例：お手伝いしてくれてありがとうございます。"  %>
    </div>

    <div class="form-actions">
      <%= link_to 'ホームに戻る', root_path, class: "btn-secondary-home" %>
      <%= f.submit @care_content.persisted? ? "更新" : "登録", class: "btn-primary-update" %>
    </div>    
  <% end %>
</div>

