<div class="form-container">
  <h2>緊急時の表示内容</h2>

  <%= form_with(model: @care_content, local: true) do |f| %>
    <div class="field">
      <%= f.label :preferred_name, "呼びかけてもらいたい名前" %>
      <%= f.text_field :preferred_name, placeholder: "例：たろう" %>
    </div>

    <div class="field">
      <%= f.fields_for :emergency_contacts,  @care_content.emergency_contacts.first || @care_content.emergency_contacts.build do |ef| %>
        <%= ef.label :phone_number, "緊急時につないでほしい連絡先" %>
        <%= ef.text_field :phone_number, placeholder: "例：000‐0000‐0000" %>
    
        <div class="select-wrapper">
          <%= ef.label :relationship, "連絡先との関係性" %>
          <%= ef.select :relationship, options_for_select([['親族', '親族'], ['友人', '友人'], ['ケアマネ', 'ケアマネ'], ['その他', 'その他']], ef.object&.relationship), { prompt: '選択してください' }, class: 'custom-select-class' %>

        </div>
    
        <%= ef.hidden_field :_destroy %>
      <% end %>
    </div>


    <div class="field">
      <%= f.label :custom_message, "緊急時にお願いしたいこと" %>
      <%= f.text_area :custom_message, placeholder: "例：機械の操作が苦手です。話すときは右側から話しかけてください。"  %>
    </div>

    <div class="field">
      <%= f.label :message, "サポートしてくれた方へのメッセージ" %>
      <%= f.text_area :message, placeholder: "※こちらは、緊急時に表示されるもので、サポートいただいた際に何とお礼したいかをイメージしてください"  %>
    </div>

    <div class="form-actions">
      <%= f.submit @care_content.persisted? ? "更新" : "登録", class: "btn-primary-update" %>
      <%= link_to '更新しないで戻る', root_path, class: "btn-secondary-home" %>
    </div>    
  <% end %>
</div>
