<% if user_signed_in? %>
  <script type="text/javascript">
    window.location.href = "<%= root_path %>";
  </script>
<% else %>
  <h2>アカウントをお持ちの方</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  <% end %>


  <%= button_to "Googleアカウントでログイン", user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-primary" %>
  <%= link_to "LINEアカウントでログイン", line_login_api_login_path, class: "btn btn-success" %>


  <h2>アカウントをお持ちでない方</h2>
  <%= button_to 'メールアドレスで登録', new_user_registration_path, method: :get, class: 'btn btn-secondary' %>
  <%= button_to "Googleアカウントで登録", user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-primary" %>
  <%= link_to "LINEアカウントで登録", line_login_api_login_path, class: "btn btn-success" %>

<% end %>


<%= link_to "パスワードを忘れた方はこちら", new_user_password_path, class: "btn btn-link" %>
