<% if user_signed_in? %>
  <script type="text/javascript">
    window.location.href = "<%= root_path %>";
  </script>
<% else %>
  <div class="auth-section">
    
    <h2 class="auth-title">アカウントをお持ちの方</h2>
    
    <div class="login-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>
        <div class="login-field">
          <%= f.label "メールアドレス", class: "login-form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
        </div>
    
        <div class="login-field">
          <%= f.label "パスワード", class: "login-form-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-input" %>
        </div>
    
        <div class="actions">
          <%= f.submit "メールアドレスでログイン", class: "login-btn" %>
        </div>
      <% end %>
    </div>

    <div class="button-section">
      <%= button_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-primary oauth-button" %>
      <%= link_to "LINEでログイン", user_line_omniauth_authorize_path, method: :post, class: "btn btn-success oauth-button" %>
    </div>

    <h2 class="auth-title">アカウントをお持ちでない方</h2>
    
    <div class="button-section-no-account">
      <%= render "devise/shared/links" %>
    </div>
<% end %>
