<!DOCTYPE html>
<html>
  <head>
    <title>MachimobiApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <%= notice %>  -->
    <!-- <%= alert %>  -->
    <div id="flash-messages">
      <% if notice %>
        <div class="flash notice"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="flash alert"><%= alert %></div>
      <% end %>
    </div>

    
    
    <main>
      <%= yield %>
    </main>

    <script>
      document.addEventListener('turbolinks:load', () => {
        const flashMessages = document.getElementById('flash-messages');
        if (flashMessages) {
          setTimeout(() => {
            flashMessages.style.display = 'none';
          }, 4000); // 4秒後にメッセージを非表示
        }
      });
    </script>
  
  </body>
</html>

